<div class="panel">
   <div class="panel-heading">
   <h1>Octo Events</h1>
   </div>
   <div class="panel-body">
    <% @webhooks.each do |w|%>
	      <p><strong>ID: </strong> <%= w.hook_id%></p>
          <p><strong>Ação: </strong> <%= w.action%></p>
          <p><strong>Numero: </strong> <%= w.number%></p>
          <p><strong>Projeto:</strong> <%= w.name%></p>
          <p><strong>Projeto full name: </strong><%= w.full_name%></p>
       	  <p><strong>Criado: </strong> <%= w.created_at%></p>	    
	 <hr>
   <% end %>
   </div>
</div>